<!--Itá extender o conteudo(barra de menus), criado em layout.jade-->
extends ../layout
<!--pagina que ira chamar o conteudo de todas as outras-->
block content
	<!--Vou incluir o conteudo da pagina principal.jade-->
	include ../principal